__pycache__/
*.pyc
*.db
*.egg-info/


# Environment variables / secrets
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/
env/

# Python cache
pycache/
*.py[cod]
*$py.class

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log